@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(
    48deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(251, 82, 131, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  background-color: #f8f7f9;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  overflow-y: auto;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
#img-logo {
  width: 50px;
  margin: 30px 0;
}
nav {
  width: 100%;
  text-align: right;
}
li {
  display: inline-block;
  margin-right: 30px;
}
.nav-link {
  cursor: pointer;
  color: black;
  font-size: 14px;
  font-weight: 500;
  transition: 0.15s;
}
.nav-link:hover {
  color: rgba(251, 82, 131, 1);
}
.nav-link:active {
  color: rgba(0, 212, 255, 1);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px;
}

/* left-content */

.left-content {
  margin-left: 3rem;
  position: relative;
}
.left-content > h2 {
  font-size: 3rem;
}
.left-content > h3 {
  font-size: 2rem;
  color: #707070;
  font-weight: 100;
  margin: 1.25rem 0;
}
.left-content > h4 {
  font-size: 1.25rem;
  color: black;
  margin: 2rem 0;
}
.left-content > p {
  color: #c4c4c4;
  margin: 1.25rem 0;
  font-weight: 100;
}
.btn {
  width: 8.75rem;
  padding: 0.75rem 0.625rem;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn img {
  width: 30px;
  display: none;
}

.left-content::before {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  position: absolute;
  left: -40px;
  top: 8px;
}

/* right-content */

.right-content {
  position: relative;
  display: flex;
  align-items: center;
}
#img-controller {
  z-index: 1;
  width: 70%;
  animation: controllerMove 2s infinite alternate ease-in-out;
}
.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  height: 100%;
  width: 80%;
  border-radius: 1.5rem 0 0 1.5rem;
  transform: translateX(90px);
}
#rc-btn {
  z-index: 1;
  margin-left: 20%;
  background: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}
#rc-btn > img {
  height: 100%;
  width: 100%;
  max-width: 55px;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  margin: 0 20px;
  height: 20px;
}

/* responsive */
.menu-icon {
  width: 25px;
  margin-right: 15px;
  display: none;
  cursor: pointer;
}
#img-btn {
  outline: none;
  border: none;
  text-decoration: none;
  border-style: none;
  background: transparent;
}
/* MEDIA QUERY */
@media (max-width: 760px) {
  .container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    transition: 0.3s;
  }

  #menu-list {
    /* position: absolute;
    top: 78px;
    right: 0px;
    overflow: hidden; */
    position: relative;
    overflow: hidden;
    top: 70px;
    left: 60px;
    transition: all 0.2s ease-out;
  }
  .menu-icon {
    display: block;
  }
  .nav-li {
    display: block;
    margin-top: 0.5rem;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
  }
  .left-content {
    margin: 40px 0px;
  }

  .color-box {
    transform: translateX(60px);
  }
}

/* Animation */

@keyframes controllerMove {
  from {
    transform: translate(-5%, -5%) rotate(-5deg);
  }
}
